<ng-container *ngIf="show">
  <div class="modalc">
    <div class="modalc-content">
      <!-- Header del modal-->
      <header class="modalc-header">
        <h4 class="modalc-title">{{ title }}</h4>
        <i class="bx bx-x" (click)="show = false"></i>
      </header>
      <!-- Contenido del modal-->
      <div class="modalc-container">
        <form [formGroup]="demoForm" (ngSubmit)="onSubmit()">
          <div>
            <input type="hidden" name="id" formControlName="id" />

            <h4>Nombre</h4>
            <input
              type="text"
              name="nombre"
              formControlName="nombre"
              placeholder="nombre"
              required
              class="contact-input form-control"
            />
            <h4>Descripción</h4>
            <textarea
              name="descripcion"
              formControlName="descripcion"
              placeholder="descripcion"
              rows="5"
              class="contact-input"
            ></textarea>
            <h4>Link demo</h4>
            <input
              type="text"
              name="link_demo"
              formControlName="link_demo"
              placeholder="Link demo"
              required
              class="contact-input"
            />
            <h4>Imagen de perfil</h4>
            <input
              type="url"
              name="url_demo"
              formControlName="url_demo"
              placeholder="Url demo"
              class="contact-input"
            />
            <!--==/ Botón para guardar los datos /==-->
            <button type="submit" class="btn-save">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
