/*===/ Page Loader Spinner /===*/
.cubo, .cargando {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    z-index: 101;
    background-color: #222222;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  .cubo {
    height: 100%;
    transform-style: preserve-3d;
    -webkit-animation: rotar 8s linear infinite;
    -o-animation: rotar 8s linear infinite;
    animation: rotar 8s linear infinite;
  }
  
  .cubo > span {
    position: absolute;
    width: 4em;
    height: 4em;
    border: 2px solid white;
    box-shadow: inset 0px 0px 15px 5px rgba(67, 255, 67, 0.2), 0px
    0px 40px 1px rgba(83, 255, 67, 0.15);
    border-radius: 4px;
  }
  
  /* Asignando la rotacion de la caras del cubo */
  .cubo > span:nth-child(1){transform: rotateY(90deg) translateZ(2em);}
  
  .cubo > span:nth-child(2){transform: rotateY(90deg) translateZ(-2em);}
  
  .cubo > span:nth-child(3){transform: rotateY(90deg) translateZ(-2em);}
  
  .cubo > span:nth-child(4){transform: rotateY(90deg) translateZ(2em);}
  
  .cubo > span:nth-child(5){transform: translateZ(-2em);}
  
  .cubo > span:nth-child(6){transform: translateZ(2em);}
  
  /* Animacion */
  @keyframes rotar {
    0% {transform: rotateY(0deg) rotateX(0deg);}
    50% {transform: rotateY(360deg) rotateX(360deg);}
    100% {transform: rotateY(0deg) rotateX(0deg);}
  }