<div class="projects-title">
    <h2 class="section-title">Demos</h2>
</div>

<section class="projects" id="demos">
    
    <div class="projects-flex" *ngFor="let demo of demos, let i = index">
        <div class="projects-elements">
            <figure class="project-item">
                <img [src]="demo.url_demo" alt="">
                <div class="capa">
                    <h3>{{demo.nombre}}</h3>
                    <p>{{demo.descripcion}}</p>
                    <!--===/ Botones para editar o eliminar un item /===-->
                    <button *ngIf="isAdmin == true" (click)="modal.onEditDemo(i)" class="btn-edit">Editar</button>
                    <button *ngIf="isAdmin == true" (click)="modal.onDeletedDemo(i)"  class="btn-delete">Eliminar</button>
                    <a *ngIf="isAdmin != true" [href]="demo.link_demo" class="btn_see">Ver más</a>
                </div>
            </figure>
        </div>
    </div>
</section>

<div class="add_button">
    <button *ngIf="isAdmin == true" (click)="modal.onNewDemo()" type="button" class="btn-add"><i class='bx bx-plus open-modal' style='color:#ffffff'></i></button>
</div>

<app-modal-demo  [title]="'Editar demo'" #modal></app-modal-demo>