<section class="contact section" id="contact">
    <h2 class="section-title">Contacto</h2>

    <div class="contact-container">
        <!--===/ Formulario de contacto /===-->
        <form action="https://formsubmit.co/ucielprogramador21@gmail.com" method="POST" class="contact-form">
            <input name="nombre" type="text" placeholder="Nombre" id="nombr" required class="contact-input">

            <input name="email" type="email" id="email" placeholder="Email" required class="contact-input">

            <textarea name="mensaje" id="mensaje" cols="0" class="contact-input rows='10'"></textarea>

            <input type="submit" value="Enviar" class="contact-button">
        </form>
    </div>
</section>
