<section class="contact section" id="contact">
  <h2 class="section-title">Contacto</h2>

  <div class="contact-container">
    <!--===/ Formulario de contacto /===-->
    <form (ngSubmit)="onSubmit()" class="contact-form">
        <input
        name="name"
        type="text"
        placeholder="Nombre completo"
        id="name"
        [(ngModel)]="email.name"
        required
        class="contact-input"
      />
      <input
        name="subject"
        type="text"
        placeholder="Asunto"
        id="subject"
        [(ngModel)]="email.subject"
        required
        class="contact-input"
      />
      <input
        name="email"
        type="email"
        id="email"
        placeholder="Email"
        [(ngModel)]="email.email"
        required
        class="contact-input"
      />
      <textarea
        name="body"
        id="body"
        cols="0"
        [(ngModel)]="email.body"
        placeholder="Mensaje"
        class="contact-input rows='10'"
        required
      ></textarea>
      <button type="submit" class="contact-button">Enviar</button>
    </form>
  </div>
</section>
