<footer class="footer">
    <div class="footer-body" *ngFor="let persona of personas">
        <img class="footer-logo" src="../assets/img/logo.png" alt="logo">

        <div class="footer-social">
            <p><i class='bx bxl-gmail footer-icon'></i> {{persona.email}} </p>
            <p><i class='bx bx-phone footer-icon'></i> {{persona.celular}} </p>
            <p><i class='bx bx-home footer-icon'></i> {{persona.domicilio}} </p>
        </div>
    </div>
    <p>&#169; Uciel Daró 2022 <a style="color: grey;" href="https://github.com/Uciel89/Portfolio">copyright all right reserved</a></p>
</footer>
